.about-us-container {
    padding: 40px;
}

.about-us-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us-column {
    flex-basis: 50%;
    text-align: center;
}

.about-us-column img {
    width: 515.13px;
    height: 359px;
}