header {
    background-color: hsl(0, 0%, 96%);
    padding: 33px 90px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 53.85px;
    height: 26.56px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li:not(:last-child) {
    margin-right: 44px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Roboto-Mono';
    color: #4A6B5F;
    font-weight: 500;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
    font-family: 'Roboto-Mono';
    color: #4A6B5F;
    font-weight: 500;
}