.hero {
    height: 860px;
    max-height: 860px;
    background-image: url('../assets/Hero.png');
    background-size: cover;
    background-position: center;
    margin-top: -120px;
    /* background-position: -400px center; */
    background-repeat: no-repeat;
}